@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;1,300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Exo',
        sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/*Header and logo styling*/
header {
    background: #fafafa;
    min-height: 80px;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #2FDD92;
    text-transform: uppercase;
    margin-left: 50px;

}

h1 i {
    font-size: 50px;
    margin-top: 10px;
}

#logo_container {
    float: left;
}

/*Navigation links styling*/
#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a,
#logo_container a,
.benefits_button a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #2FDD92;
    font-weight: bold;
}

.current {
    color: #2FDD92;
    font-weight: bold;
}

#menu,
#logo_container {
    line-height: 80px;
}

/*Button*/
.btn {
    background-color: #2FDD92;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    transition: color 100ms;
    vertical-align: baseline;
    font-family: 'Exo', sans-serif;
}

.btn:hover {
    color: #fafafa;
    font-weight: bold;
    cursor: pointer;
}

.benefits_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 200px;
}

/*Styling hero image*/
#hero_image {

    height: 600px;
    position: relative;
    width: 100%;
    background: url('../css/images/hero-image.jpg') no-repeat -200px -200px;
}

/*Styling text on the hero image*/
.text {
    width: 500px;
    height: 500px;
    font-size: x-large;
    position: absolute;
    top: 20%;
    right: 80px;
    text-align: right;
    color: #3a3a3a;
    letter-spacing: 1px;
}

.quote {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 20px;
}

h2 {
    font-size: 180%;
}