@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;1,300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Exo',
        sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/*Headings and logo*/
h1 {
    font-family: 'Pacifico', cursive;
    color: #2FDD92;
    text-transform: uppercase;

}

#logo_container {
    float: left;

}